body {
    font-family: Arial, sans-serif;
    background-color: #c8d1c8;
    color: #dbc9c9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    background: #f8adad;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(247, 245, 245, 0.1);
    text-align: center;
    color: #333333;
    max-width: 500px;
    width: 100%;
  }
  
  form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  form input, form button {
    padding: 10px;
    margin: 5px 0;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    background: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  li.completed {
    text-decoration: line-through;
    color: #999999;
  }
  
  li button {
    background: #d2cbcb;
    border: none;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  li button:hover {
    background: #ff2222;
  }